# Q2

In [1]:
amount = float(input("Enter initial investment amount: "))
rate = float(input("Enter annual interest rate (%): "))
years = int(input("Enter number of years: "))

print("Year\tAmount")

for year in range(1, years + 1):
    amount = amount + (amount * (rate / 100))
    print(year, "\t", format(amount, ".2f"))

Enter initial investment amount:  12000
Enter annual interest rate (%):  10
Enter number of years:  5

Year	Amount
1 	 13200.00
2 	 14520.00
3 	 15972.00
4 	 17569.20
5 	 19326.12